<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Briefly</title>
    <link rel="stylesheet" href="/static/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
</head>
<body>
    <header>Briefly</header>
    <hr>

    <p class="tagline">Cut the noise. Keep the insight.</p>
    <p class="subtagline">Summarize YouTube videos with the power of AI. YouTube content done your way!</p>
    <a href="/ai_summarize"><button>LET'S GET STARTED</button></a>
        
    <div class="gif-container">
        <img src="/static/images/Untitled design.gif" alt="GIF 1">
        <img src="/static/images/Untitled design (1).gif" alt="GIF 2">
        <img src="/static/images/Untitled design (2).gif" alt="GIF 3">
    </div>
</body>
</html>
